/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
     margin: 0 auto;
     height: 100%;

}

.header {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}


.text-center{
    text-align: center;
    margin: 0 auto;
}
.text-center{
    text-align: left;
    margin: 0 auto;
}
